# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

quote_vault_manager/__pycache__/

# Virtual environment
dquote-mgr-env/
quote-mgr-env/

# Test cache and artifacts
.pytest_cache/
tests/__pycache__/

# OS and editor files
.DS_Store
*.swp
*.swo

# Logs
*.log 

# Test files
tests/TestVault/
tests/TestQuoteVault/
config.yaml